<html>
<head>
	<title>Phone number received!</title>
	{{>header}}
</head>
<body>
<div class="container">
<p> Thank you! You will now recieve text alerts for when Midnight Coup is in rotation. </p>
<br>
</div>


<script src="js/function.js"></script>


</body>
</html>
