<html>
<head>
	<title>Destineed</title>
	{{>header}}
</head>
<body class="container">

<h3> In order to recieve alerts from Destineed, we need you to authorize our application through Bungie.</h3>
<br>


<input type="authorize" value="Authorize" class= "btn btn-primary" onclick="navigateToAuth()" />




<script src="js/function.js"></script>


</body>
</html>
