<html>
<head>
	<title>Destineed</title>
	{{>header}}
</head>
<body class="container">

<h3> Enter your phone number for text alerts for Midnight Coup. </h3>
<br>

<p>Please enter an 10 digit phone number with no dashes and parentheses.</p>
<br>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Phone Number</span>
  </div>
  <input type="text" class="form-control" id="userInput" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>



<input type="submit" value="Submit" class= "btn btn-primary" onclick="validateNumber()" />




<script src="js/function.js"></script>


</body>
</html>
