<html>
<head>
	<title>Destineed</title>
	{{>header}}
</head>
<body>
<div class="container">
<p> Enter your phone number for text alerts for Midnight Coup. </p>
<br>
</div>

<div class="container">
Phone number:   <input type="text" id="userInput" /><br>

</div>
<br>
<div class="container">
<input type="submit" value="Submit" onclick="numberGet();" />

</div>


<script src="js/function.js"></script>


</body>
</html>
